h1 {font-family: Impact, sans-serif;color: #CE5937;padding-left:50px}
img {padding-left:25px}
.prod {display:flex; justify-content: space-between; width: 600px;}
.zayc {display:flex; justify-content: space-between; width: 800px;}
h2 {padding-left:50px}
h3{padding-left:50px}
